body {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 25px;
    color: rgb(57, 57, 57);
    background:  rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: yellow
}

* {
    background: yellow;
}

.header {
    margin: 0px 200px;
    font-size: 18px;
    text-align: center;
    border: 2px solid black;
    background: linear-gradient(orange, red);
    padding: 20px;
    font-weight: bold;
}

.flex-wrap {
    display: flex;
    justify-content: center;
}

.flex-wrap-container {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    padding-right: 20px;
    width: 350px;
    height: 350px;
    margin: 15px;
    border-width: 3px;
    background: linear-gradient(orange, red)
}

.container-title {
    background: none;
    font-size: 16px;
    text-decoration-line: underline;
    font-weight: bold;
}

.container-body {
    background: none;
    font-size: 12px;
}

ul {
    background: none;
}

li {
    background: none;
}